<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Global Ruleset" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
      <Rule Id="SA1101" Action="None" />
      <Rule Id="SA1200" Action="None" />
      <Rule Id="SA1214" Action="None" />
      <Rule Id="SA1309" Action="None" />
      <Rule Id="SA1513" Action="None" />
      <Rule Id="SA1516" Action="None" />
      <Rule Id="SA1600" Action="None" />
      <Rule Id="SA1601" Action="None" />
      <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>